<button style="padding-left: 40px; padding-right: 40px;" [routerLink]="'/courses'" class="ui black button">back</button>
<br>
<br>

<div style="padding-left: 40px; padding-right: 40px;" class="ui grid" *ngIf="course">
  <div class="twelve wide column">
    <h1 class="ui header">{{course.title}}</h1>
    <h3 class="ui header">{{course.description}}</h3>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">lehrende Person:</h4>
        <span>{{course.user.firstname}} {{course.user.lastname}}</span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">Semester:</h4>
        <span>{{course.semester}}</span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">Kürzel:</h4>
        <span>{{course.cID}}</span>
      </div>
      <table class="ui celled table">
        <thead>
        <tr>
          <th>Tag</th>
          <th>von</th>
          <th>bis</th>
          <th>Buchung</th>

        </tr>
        </thead>
        <tbody *ngFor="let timeslot of course.timeslot; index as i; last as l" >
        <td>{{timeslot.day}}</td>
        <td>{{timeslot.from}}</td>
        <td>{{timeslot.to}}</td>
        <td><p *ngIf="timeslot.is_available == true">Nicht gebucht</p>
          <p *ngIf="timeslot.is_available == false">gebucht</p></td>
        <td>
          <button *ngIf="!authService.isTeacher() &&authService.isLoggedIn()"
                  (click)="setBooked(i)" [disabled]="!timeslot.is_available" class="ui red button">Buchen</button>
        </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>

<form style="padding-left: 40px; padding-right: 40px; width: 72%" class="ui form" *ngIf="authService.isLoggedIn() &&!authService.isTeacher()">
  <div class="field">
    <label>Nicht der passnde Slot dabei? Schlage der lehrenden Person ein Datum vor.</label>
    <input type="text" name="Comment" placeholder="Würde auch der 04.06. um 17 Uhr passen?">
  </div>

  <button (click)="sendComment()" class="ui button" type="submit">Anfrage senden</button>
</form>



<div style="padding-left: 55%" *ngIf="authService.isLoggedIn() &&authService.isTeacher() &&isAuthor()" class="ui large buttons">
  <button  class="ui button"
          (click)="removeCourse()">löschen</button>
  <div class="or"></div>
  <button class="ui button"
          [routerLink]="['../../admin', course?.cID]">bearbeiten</button>
</div>

<div class="ui segment">
  <h2>Über die lehrende Person:</h2>
  <div class="ui clearing divider">
  </div>
  <p> <b>Name:</b> {{course.user.firstname}} {{course.user.lastname}}</p>
  <p><b>Semester: </b>{{course.user.semester}}</p>
  <p><b>Info:</b> {{course.user.description}}</p>
  <p><b>E-Mail:</b> {{course.user.email}}</p>
</div>

